<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/tab1">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-back-button>
      </ion-buttons>
      <ion-title>Add traveler</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid fixed>
        <form #Traveler="ngForm" (ngSubmit)="addTraveler(Traveler.form);">
          <ion-row class="ion-justify-content-center">
            <ion-col size-lg="4" size-xl="4" size-md="5" size-sm="9" size-xs="12">
                    <ion-card class="welcome-card" >
                        <ion-ripple-effect></ion-ripple-effect>
                        <img src="assets/images/user256x256.png">
                        <ion-card-header>
                          <ion-ripple-effect></ion-ripple-effect>
                          <ion-card-subtitle>Fill the form for the new traveler:</ion-card-subtitle>
                          <ion-card-title>
                            <!-- Inputs with labels -->
                            <ion-item class="form-input">
                              <ion-label position="stacked">Edit firstname</ion-label>
                              <ion-input  name="firstname" ngModel #firstname="ngModel" placeholder="Travele´s firstname here"></ion-input>
                            </ion-item>
                          </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                          <!-- Input with placeholder -->
                          <ion-item  class="form-input">
                              <ion-label position="stacked">Edit lastname</ion-label>
                              <ion-input name="lastname" ngModel #lastname="ngModel" placeholder="Travele´s lastname here"></ion-input>
                          </ion-item>
                        </ion-card-content>
                      </ion-card>
            </ion-col>
  
  
            <ion-col type="submit" class="ion-justify-content-center" size-lg="4" size-xl="4" size-md="4" size-sm="9" size-xs="12">
                  <ion-button  type="submit" expand="block">
                      <ion-ripple-effect></ion-ripple-effect>
                      Add to Database
                    </ion-button>
            </ion-col>
          
        </ion-row>
      </form>
    </ion-grid>
</ion-content>


<ion-footer class="footer-dbc770">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
          <img button (click)="goHome()" routerDirection="root" width="100px" src="http://localhost:3000/res/images/contratipoHorizontal.png">
        </ion-buttons>
      <ion-title>Developed by: David Béjar Cáceres 2019</ion-title>
    </ion-toolbar>
  </ion-footer>